name: Container Build

on:
  push:
    branches: ["master"]
  pull_request:

concurrency:
  group: docker-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          docker build -t tcslbcnn:ci .
